<script>
	import Cadre from '$lib/Cadre.svelte';

	import Bulle from '$lib/1NSI/05/Bulle.svelte';
	let n = 1;
	$: n4 = Math.floor( n/16 );
	$: n3 = Math.floor( (n- 16*n4) /8);
	$: n2 = Math.floor( (n- 16*n4 -8*n3) /4);
	$: n1 = Math.floor( (n- 16*n4 -8*n3 -4*n2) /2);
	$: n0 = n % 2;
	$: bulles = creer_liste(n);

	$: restes =[compte_bulles(bulles,4), 
							compte_bulles(bulles,3), 
							compte_bulles(bulles,2), 
							compte_bulles(bulles,1), 
							compte_bulles(bulles,0)]

    function compte_bulles(bulles, nb){
		if(bulles){
			return bulles.filter(x => x.niveau==nb).length;
		}else {
			return nb ? 0 : n;
		}
	}
	function creer_liste(nb){
		let b = []
		for(let i = 0; i < nb; i++){
			b.push({
				texte: "a", 
				cle: i,
				cercle: false, 
				niveau:0,
				rayon : tweened(10, {duration: 400,easing: cubicOut})
			});
		}
		return b
	}
   function verifier(){
		if(restes.filter(x => x>1).length === 0) 
			params_alerte = ["C'est fini ! On ne peut plus regrouper de bulles.","bravo",true];
	} 
	var selection = "";
	function cliquer_cercle(b) {
		if(selection){
			if(b.niveau != selection.niveau){
				params_alerte = ["Il faut cliquer sur deux bulles identiques ! Cliquez une deuxième fois sur la bulle sélectionnée si vous voulez la désélectionner.","erreur",true]
			}
			else if(b.cle == selection.cle){
				b.cercle = false;
				bulles = bulles;
				selection="";
			}else{
				selection.niveau = -1;
				selection.rayon.set(0);
				b.niveau ++;
				b.rayon.set(10+3*b.niveau);
				selection = "";
				console.log(bulles);
				bulles = bulles;
				restes = [compte_bulles(bulles,4), 
						compte_bulles(bulles,3), 
						compte_bulles(bulles,2), 
						compte_bulles(bulles,1), 
						compte_bulles(bulles,0)];
				verifier();
			}    
		}else{
			b.cercle = true;
			selection = b;
			bulles = bulles;
		}
	}

    import Alerte from '$lib/Alerte.svelte';
	let params_alerte = ["","",false];
</script>

<Alerte bind:params_alerte />

<h1>Des bulles deux par deux</h1>
<Cadre classe="afaire">
	<span slot="contenu">	
	<p>Cliquez sur deux bulles identiques, puis recommencez autant que possible. Vous pouvez choisir le nombre de petites bulles
	en bougeant le curseur.</p>
	<p>Pour déselectionner une bulle, cliquez une deuxième fois sur elle.</p>
	</span>
</Cadre>

<div class="tableaudebord" style="width:fit-content; max-width:100%; margin: 0px auto;display:flex;align-items: center;flex-wrap: wrap;" >
<label style="flex: initial; margin: 0px auto;">
	<input type="number" bind:value={n} min="1" max="31" style="width:4em;"/>
	<input type="range" bind:value={n} min="1" max="31" />
</label>
<table style="flex: initial;">
	<tr>
		{#each [4,3,2,1,0] as i}
		   <td><Bulle niveau={i} /></td>
	    {/each}
	</tr>
	<tr>
		{#each restes as i}
		     <td style='text-align:center'> {i} </td>
	    {/each}
	</tr>
</table>
</div>
<div class="bulles">
	{#each bulles as item, index (item.cle)}
		<span on:click={()=>cliquer_cercle(item)}>
			<Bulle bind:rayon={$item.rayon} bind:cercle={item.cercle} />
		</span>
	{/each}
</div>
<style>
.bulles{
    padding:10px;
	background-color: #ccc;
	color:var(--monbleu);
	margin-top:10px;
	border-radius: 5px;
}
</style>
