<script>
	import TableauBooleen from '$lib/1NSI/03/TableauBooleen.svelte';

	let titres_colonnes = ["A","B","A XOR B"];
	function operation(a,b){
		return (a && (1-b)) || (b && (1-a)) ;
	}
export let titre = "OU exclusif";
</script>

{#if titre}
	<h1>{titre}</h1>
{/if}

<p>Complétez le tableau donnant {titres_colonnes[2]} en fonction de A et de B.</p>
<p>XOR est aussi appelé "ou exclusif" : {titres_colonnes[2]} signifie "soit A, soit B", ou encore "A ou B mais pas à la fois A et B".</p>
<TableauBooleen {operation} {titres_colonnes} />