<script>
	export let coordonnees = []; // x_depart, y_depart, x_arrivee, y_arrivee
</script>
<line x1={coordonnees[0]} y1={coordonnees[1]} x2={coordonnees[2]} y2={coordonnees[3]} />

<style>
	line{
		stroke-width: 3;
		fill: none;
		stroke: var(--monbleu);
	}
</style>