<script>
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	function clique() {
		dispatch('noeud_clique', {
			...$$props, x, y
		});
	}
	export let x;
	export let y;
	export let etiquette;  // ce qui est affiché

	export let cliquable = true;
	export let classe = "";
	export let index = 0;

	$: cursor = cliquable ? 'pointer' : 'default';
</script>

{#if etiquette !=="vide"}
<g on:click={clique} style:cursor role="button" tabindex={index} class={classe}>
	<ellipse cx={x} cy={y} rx=1em ry=1em />
	<text {x} {y}>
	{etiquette}
	</text>
</g>
{/if}

<style>
    text{
        fill: white;
        font-size: 100%;
        text-anchor: middle;
				dominant-baseline:middle;
    }
    ellipse{
        fill: #999;
        stroke: var(--monbleu);
        stroke-width: 3;
    }
	  .rouge ellipse{
			fill: var(--monrouge);
		}
	  .vert ellipse{
			fill: var(--monvertfonce);
		}
</style>