<script>
	let dialog;
	export let params_alerte = ["","",true]
	$: texte = params_alerte[0];
	$: classe  = params_alerte[1];
	$: affiche  = params_alerte[2];
	$: if (dialog && affiche) dialog.showModal();

    $: couleur = calculer_couleur(classe);
	
	function calculer_couleur(c){
		if(c == 'erreur'){
			return 'rouge';
		}else if(c == 'bravo'){
			return 'vertfonce';
		}else{
			return 'bleu'
		}
	}

    $: titre = calculer_titre(classe);
	
	function calculer_titre(c){
		if(c == 'erreur'){
			return 'Erreur.';
		}else if(c == 'bravo'){
			return 'Bravo !';
		}else{
			return 'Message.'
		}
	}

</script>
<!-- svelte-ignore a11y-click-events-have-key-events a11y-no-noninteractive-element-interactions -->
<dialog
	bind:this={dialog}
	on:close={() => (affiche = false)}
	on:click|self={() => dialog.close()}
	class = {classe}
>
	<!-- svelte-ignore a11y-no-static-element-interactions -->
	<div on:click|stopPropagation>
	   <div class="titre {couleur}">
			<span>
			{titre}
			</span>
			<!-- svelte-ignore a11y-autofocus -->
			<button  autofocus on:click={() => dialog.close()}>×</button>
	   </div>
	   <div style='padding:1em;box-sizing: border-box;'>
		{@html texte}
	   </div>
	</div>
</dialog>
<style>
button{
	margin-left:1em;
}
.titre{
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
</style>