<script>
  export let programme;   // programme Python : liste de LigneCode
  export let ligne;       // cette ligne
  export let index;       // index de cette ligne dans le programme
  export let animer=false;      // faut-il animer les changements 
	export let mode;
	
  function supprimer_instruction() {
    programme.splice(index, 1);
    programme = programme;
  }
	function echanger_lignes(i){
		animer = true;
		console.log(i);
		[programme[i], programme[i-1]] = [programme[i-1], programme[i]];
		programme = programme;
	}
</script>
{#if mode=="executer"}
<button on:click={() => echanger_lignes(index+1)} class:invisible={index==programme.length-1}>↓</button>
<button on:click={() => echanger_lignes(index)} class:invisible={index==0}>↑</button>
{:else}<span></span><span></span>
{/if}
<div class="numero">{index+1}</div>
<div>{ligne.texte}</div>
<div>
		{#if ligne.erreur}<span class="erreur">↳ {ligne.erreur}</span>{/if}
</div>
{#if mode=="executer"}
<button on:click={supprimer_instruction}>×</button>
{/if}
<style>
div{padding-left:5px}
button{
	border: none;
	background-color: #333;
	color:white;
}
.numero{
	text-align:right;
	padding-right:8px;
	background-color: #333;
}
.erreur{
	background-color : var(--fondrouge);
  text-align: right;
}
.invisible {
  visibility: hidden;
 }
</style>