<script context="module">

export const chapitres = [{
    href: "/1NSI/",
    texte: "1 NSI"
  }, {
    href: "/TNSI/",
    texte: "T NSI"
  },
  {
    href: "/1NSI/01/00-ordinateur",
    texte: "Qu'est-ce qu'un ordinateur ?"
  },
  {
    href: "/1NSI/02/00-bases_programmation",
    texte: "Bases de programmation"
  },
  {
    href: "/1NSI/03/00-conditionnelles",
    texte: "Instructions conditionnelles"
  },
  {
    href: "/1NSI/04/00-boucles",
    texte: "Boucles"
  },
  {
    href: "/1NSI/05/00-nombres-entiers-naturels",
    texte: "Nombres entiers naturels"
  },
  {
    href: "/1NSI/06/00-fonctions",
    texte: "Fonctions"
  },
  {
    href: "/1NSI/07/00-types-donnees-construits",
    texte: "Types de données construits"
  },

  /*
  TERMINALE
  */
  {
    href: "/TNSI/01/00-files_et_piles",
    texte: "Files et piles"
  },
  {
    href: "/TNSI/02/00-recursivite",
    texte: "La récursivité"
  },
  {
    href: "/TNSI/03/00-arbres_binaires",
    texte: "Arbres binaires"
  }

];

function calc_lien(href){
  if( href.includes("capytale-") ){
    return "https://capytale2.ac-paris.fr/web/c/" + href.split("capytale-")[1];
  }else if( href.includes("externe-") ){
    return "https://"+href.split("externe")[1];
  }else{
    return href;
  }
}

export function liste_contenus(page){
    let prefixe = page.slice(0,8);
    let liste = [];
    chapitres.forEach((item) => {
      if(item.href.startsWith(prefixe) && item.href != page){
        liste.push({href: calc_lien(item.href), texte:item.texte});
      }    
    });
    return liste;
}

export function liste_chapitres(page){  // chapitre sous la forme /1NSI/XX-00
    let prefixe = page.slice(0,5);
    let liste = [];
    chapitres.forEach((item) => {
      if(item.href.startsWith(prefixe) && item.href.slice(8,11) == "/00" && item.href != page){
        liste.push(item);
      }    
    });
    return liste;
}

function calc_ariane(page){
  let liste = [{href:"/1NSI/", texte:"1 NSI"}, {href:"/TNSI/", texte:"T NSI"}];
  console.log(page);
  if( page.length > 6 && ! page.includes("a-propos") ){
      let niveau = page.slice(0,6);           // niveau : /1NSI, /TNSI etc
      let chapitre = page.slice(0,8)+"/00";   // chapitre : /1NSI/XX/00
      liste = [];

      let n = "niveau";
      let c = "chapitre";

      for(let i = 0; i < chapitres.length; i++ ){
        if(chapitres[i].href == niveau){
          n = chapitres[i];
        }
        if(chapitres[i].href.slice(0,11) == chapitre){
          c = chapitres[i];
        }
      }
      liste = [n, c];
  }
  return liste;
}

function changemode() {
	  window.document.body.classList.toggle('sombre');
}

</script>
<script>
export let page = "";
export let type = "";
export let liste_donnee = [];

$: ariane = calc_ariane(page);
$: liste_chapitres_liens = liste_chapitres(page);
$: liste_contenus_liens = liste_contenus(page);
</script>
{#if type == "chapitres"}
<ol>
    {#each liste_chapitres_liens as lien}
        <li><a href={lien.href}>{lien.texte}</a></li>
    {/each}
</ol>
{:else if type == "contenus"}
<ol>
    {#each liste_contenus_liens as lien}
        <li><a href={lien.href}>{lien.texte}</a></li>
    {/each}
</ol>
{:else if type=="contenus_liste"}
<ol>
    {#each liste_donnee as lien}
        <li><a href={ calc_lien(lien.href) }>{lien.texte}</a></li>
    {/each}
</ol>
{:else if type == "ariane"}
<div id="menu">
  <nav>
    <ul>
      <li><a href="/" >f66400</a></li>
    <li><a on:click={changemode} style="float:right;">🌓</a></li>
    <li><a href="/a-propos/" style="float:right;">?</a></li>
      {#each ariane as lien}
        <li><a href={lien.href}  class:actuel={lien.href == page}>{lien.texte}</a></li>
      {/each}
    </ul>
  </nav>
</div>
{/if}
