<script>
	let animer = false;

    import { quintOut } from 'svelte/easing';
	import { crossfade } from 'svelte/transition';
	import { flip } from 'svelte/animate';
	
    const [send, receive] = crossfade({
		fallback(node, params) {
			if(! animer){return 0}

			const style = getComputedStyle(node);
			const transform = style.transform === 'none' ? '' : style.transform;

			animer = false;

			return {
				duration: 600,
				easing: quintOut,
				css: (t) => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			};
		}
	});


    let ligne_active = 0;
	let lecture = false;
	
	import Console from '$lib/Console.svelte';
	import InfoFileDeuxPiles from '$lib/TNSI/01/InfoFileDeuxPiles.svelte';
	import Cadre from '$lib/Cadre.svelte';
	
	let programme = [
		{cle: 0, texte: "enfiler(F, 2)", instruction: (() => enfiler(2)) },
		{cle: 1, texte: "enfiler(F, 3)", instruction: (() => enfiler(3)) },
		{cle: 2, texte: "enfiler(F, 5)", instruction: (() => enfiler(5)) },
		{cle: 3, texte: "enfiler(F, 4)", instruction: (() => enfiler(4)) }
	]; // {cle, texte, instruction}


    let piles = [[],[]] ;
	let enfiler_num = 0;

	let faux;

	let solution = [[2,3,5,4],[]] ;
	
	function verifier(){
		animer = false;
		faux = -1;
		console.log("sol"+solution.toString());
        console.log("p1"+piles[0].toString());
        console.log("p2"+piles[1].toString());
		if(piles[1].length > 0){
			params_alerte = ["ERREUR. Le nombre d'éléments dans la pile P2 n'est pas correct.","erreur",true];
			return 0;
		}else if(piles[0].length == solution[0].length){
			  for(let i = 0; i < solution[0].length; i++){
					if(piles[0][i].texte != solution[0][solution[0].length - i - 1]){  // piles affichées à l'envers
						params_alerte = ["ERREUR. L'élément sur fond rouge est faux.","erreur",true];
						faux = i;
						return 0;
					}
				}
				params_alerte = ["Exercice réussi !","bravo",true];
		}else{
			params_alerte = ["ERREUR. Le nombre d'éléments dans la pile P1 n'est pas correct.","erreur",true];
		}
	}

	let enfiler_reponse = function(pile){
		animer = true;
		piles[pile] = [ {cle: enfiler_num, texte: 0}, ...piles[pile] ];
		enfiler_num ++;
	}
    let defiler_reponse = function(pile){
		animer = true;
		piles[pile].shift();
		piles = piles;
	}

	import Alerte from '$lib/Alerte.svelte';
	let params_alerte = ["","",false];
</script>

<Alerte bind:params_alerte />
<h1>Une file avec deux piles</h1>
<h2>Enfiler des éléments</h2>

<InfoFileDeuxPiles />

<Cadre classe="afaire">
<span slot="contenu">
<p>Le programme Python écrit ci-dessous utilise deux fonctions :</p>
<ul>
<li><code>defiler(F)</code> supprime l'élément situé en tête de la file <code>F</code> ;</li>
<li><code>enfiler(F, elt)</code> enfile la valeur de <code>elt</code> à la fin de la file <code>F</code>.</li>
</ul>
<p>Vous devez compléter les deux piles situées en bas de la page pour qu'elles correspondent au contenu final des piles 
<code>P1</code> et <code>P2</code> après exécution du code donné dans la console.</p> 
</span>
</Cadre>

<Console bind:programme mode="fixe" />

<p>Appuyez sur les boutons 
<button>+</button> ou <button>-</button> à côté du nom d'une pile pour ajouter ou supprimer un élément 
au sommet de cette pile, puis sur <button on:click={verifier}>verifier</button> quand vous aurez fini.</p>

<table>
<tr>
	<td> <code>P1</code>
		   <button on:click={() => { enfiler_reponse(0) } }>+</button>
		   <button on:click={() => { defiler_reponse(0) } }>-</button>
	</td>
	<td> <code>P2</code> 
		  <button on:click={() => { enfiler_reponse(1) } }>+</button>
		  <button on:click={() => { defiler_reponse(1) } }>-</button>
	</td>
</tr>
<tr>
	<td class="lit" style="margin-right:1em;">
		{#each piles[0] as item, index  (item.cle)}
			<div class:erreur={index === faux}  in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip>
				<input type="number" bind:value={piles[0][index].texte} min="0" max="10" class:erreur={index === faux}/>
			</div>
		{/each}
	</td>
	<td class="lit" style="margin-left:1em;">
		{#each piles[1] as item, index  (item.cle)}
			<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip >
				<input type="number" bind:value={piles[1][index].texte} min="0" max="10"  />
		</div>
		{/each}
	</td>
</tr>

</table>
<style>
input{
	width:5em;
}
table td.lit {
    width: 7em;
    height: 6em;
    vertical-align: bottom;
	border: 3px solid var(--monrouge);
    padding: 5px;
    border-radius: 5px;
}
.erreur{
	background-color: var(--fondrouge);
}
</style>
