<script>
  import Cadre from '$lib/Cadre.svelte';
 	import { page } from '$app/stores';
  import Navigation from '$lib/Navigation.svelte';
  import { contenus } from '$lib/1NSI/03/contenus.js';
</script>

<h1>Instructions conditionnelles</h1>

<p>Au menu de ce chapitre :</p>

<Navigation liste_donnee={$contenus} type="contenus_liste" />

<Cadre classe="aretenir">
  <span slot="contenu">
    <ul>
      <li>Instructions conditionnelles (<code>if, elif, else</code>)</li>
      <li>Valeurs booléennes : 0, 1. Opérateurs booléens : <code>and, or, not</code>.</li>
      <li>Expressions booléennes : dresser la table d’une expression booléenne.</li>
    </ul>
  </span>
</Cadre>
