<script>
import Cadre from '$lib/Cadre.svelte';
</script>
<Cadre classe="info">
<span slot="contenu">
<p>
Une file <code>F</code> peut être implémentée avec deux piles <code>P1</code> et <code>P2</code> selon la méthode suivante.
</p>
<ul>
<li>Pour enfiler un élement <code>elt</code> dans <code>F</code>, on l'empile sur <code>P1</code>.</li>
<li>Pour défiler la file <code>F</code>, deux cas se présentent.
<ul>
<li> Soit la pile <code>P2</code> n'est pas vide : on dépile <code>P2</code>.</li>
<li>Soit la pile <code>P2</code> est vide : on dépile les éléments de <code>P1</code> en les empilant dans <code>P2</code> jusqu'à ce
que <code>P1</code> soit vide, puis on dépile <code>P2</code>.</li>
</li>
</ul>
</span>
</Cadre>