<script>
import Cadre from '$lib/Cadre.svelte';
</script>
<Cadre classe="info">
<span slot="contenu">
<p>
La princesse est habituée au grand luxe, elle ne peut dormir que sur un énorme tas de matelas. 
Afin de garder l'équilibre, il faut que les matelas soient empilés dans l'ordre, du plus grand en bas jusqu'au plus petit tout en haut.
Mais les matelas sont dans le désordre. Comment faire pour tout remettre en ordre ?</p>
<p>
Heureusement, la princesse est aussi très musclée : elle est capable de prendre un certain nombre de matelas et de retourner la pile qu'ils constituent, si ces matelas sont posés tout en haut de la pile. Par exemple elle peut retourner la pile constituée des trois matelas les plus en haut, sans toucher à ceux qui sont dessous.
Dans ce jeu, vous remplacez la princesse et vous devez remettre une pile de matelas dans l'ordre. Pas besoin de force physique, ce sont des matelas numériques, il vous suffit de cliquer.
</p>
</span>
</Cadre>