<script>
 	import { page } from '$app/stores';
    import Navigation from '$lib/Navigation.svelte';
    import { contenus } from '$lib/1NSI/05/contenus.js';
</script>
<h1>Nombres entiers naturels</h1>

<p>Au menu de ce chapitre :</p>

<Navigation liste_donnee={$contenus} type="contenus_liste" />