<script>
  import Arbre from '$lib/TNSI/03/Arbre.svelte';
  import {est_feuille, creer_arbre_aleatoire} from '$lib/TNSI/03/arbres.js';
  import Cadre from '$lib/Cadre.svelte';
	
  let donnees = creer_arbre_aleatoire();
  
  function gerer_clic_noeud(event){
    console.log(`${event.detail.etiquette} ${event.detail.x} ${event.detail.y} ${event.detail.index}`);
    donnees[event.detail.index].classe = donnees[event.detail.index].classe === "rouge" ? "" : "rouge";
    console.log( est_feuille(event.detail.index, donnees) );
    donnees = donnees;
  }
  let compte_essais = 0;
  function verifier(){
    compte_essais++ ;
	let compte_erreurs = 0;
    for(let i=0; i< donnees.length; i++){
      if(donnees[i].etiquette !== "vide" && est_feuille(i, donnees) !== (donnees[i].classe === "rouge")){
        compte_erreurs++
      }
    }
    if(compte_erreurs === 0){
      params_alerte = [`Exercice réussi en ${compte_essais} essai${compte_essais > 1 ? "s" : ""}. Vous pouvez obtenir un autre exercice aléatoire en rechargeant la page.`,"bravo", true];
    }else{
      params_alerte = [`Je compte ${compte_erreurs} erreur${compte_erreurs > 1 ? "s" : ""}.`,"erreur", true];
    }
  }
  import Alerte from '$lib/Alerte.svelte';
  let params_alerte = ["","",false];
</script>

<Alerte bind:params_alerte />
<h1>Trouvez les feuilles</h1>

<Cadre classe="afaire">
<span slot="contenu">
<p>Coloriez en rouge toutes les feuilles (et uniquement les feuilles) de cet arbre en cliquant dessus. Cliquez une deuxième fois sur un nœud si vous voulez enlever sa couleur.</p>
<p>Ensuite, cliquez sur le bouton "vérifier".</p>
<p>Vous pouvez obtenir un autre exercice aléatoire en rechargeant la page.</p>
</span>
</Cadre>
<div style="margin:0px auto; width:fit-content">
  <button on:click={verifier}>vérifier</button>
</div>
<div style="margin:0px auto; width:fit-content">
     <Arbre bind:donnees 
			  on:noeud_clique={gerer_clic_noeud}
			/>
</div>
