<script>
import Cadre from '$lib/Cadre.svelte';
import Video from '$lib/Video.svelte';
</script>
<h1>Les quatre tâches de l'ordinateur</h1>

<Cadre classe="afaire">
  <span slot="titre">Vidéo</span>
  <span slot="contenu">
    <p>
      Visionnez la vidéo ci-dessous et répondez aux questions suivantes. (La vidéo est en anglais, vous pouvez activer les sous-titres.)
    </p>
    <ol>
      <li> Quelles sont les quatre tâches de base d'un ordinateur ?</li>
      <li> Pour chacune des quatre tâches de base, donnez le nom de la partie de l'ordinateur qui l'effectue.</li>
      <li> Listez tous les exemples de dispositifs d'entrée donnés dans la vidéo. </li>
      <li> Listez tous les exemples de dispositifs de sortie donnés dans la vidéo.</li>
    </ol>

    <Video lien = {'https://www.youtube-nocookie.com/embed/DKGZlaPlVLY'} />

  </span>
</Cadre>

<Cadre classe="aretenir">
<span slot="contenu">
  <ul>
    <li>
      Distinguer les rôles et les caractéristiques des différents constituants d’une machine.
    </li>
    <li>
      Périphériques d’entrée et de sortie : identifier le rôle des capteurs et actionneurs.
    </li>
  </ul>
</span>
</Cadre>
