<h1>NSI Lycée de Céret</h1>
	<p>Bienvenue sur la page d'accueil de NSI au lycée Déodat-de-Séverac de Céret (Pyrénées-Orientales).</p>
	<p>Vous trouverez ci-dessous les liens vers les cours 2024-2025 de :</p>
    <ul>
		<li><a href="1NSI">Première NSI</a></li>
		<li><a href="TNSI">Terminale NSI</a></li>
	</ul>
	
<!--
<p>Quelques tests de couleurs :</p>

<table>
<tr>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
</tr>
<tr>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
</tr>
<tr>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
</tr>
<tr>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
</tr>
<tr>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
<tr>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
</tr>
<tr>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
    <td>texte</td>
</tr>
</table>

<style>
tr td:nth-child(1)  { background-color:var(--fondrouge);}
tr td:nth-child(2) { background-color:var(--fondbleu);}
tr td:nth-child(3) { background-color:var(--fondvert);}
tr td:nth-child(4)   { background-color:var(--fondgris);}
tr td:nth-child(8) { background-color:var(--monbleu);}
tr td:nth-child(9) { background-color:var(--monrouge);}
tr td:nth-child(10) { background-color:var(--mongris);}
tr td:nth-child(11) { background-color:var(--monpourpre);}
tr td:nth-child(5) { background-color:var(--monviolet);}
tr td:nth-child(6) { background-color:var(--monvertfonce);}
tr td:nth-child(7) { background-color:var(--monvertclair);}


table tr:nth-child(1) { color:var(--monbleu);}
table tr:nth-child(2) { color:var(--monrouge);}
table tr:nth-child(3) { color:var(--mongris);}
table tr:nth-child(4) { color:var(--monpourpre);}
table tr:nth-child(5) { color:var(--monviolet);}
table tr:nth-child(6) { color:var(--monvertfonce);}
table tr:nth-child(7) { color:var(--monvertclair);}
</style>
-->