<script>
 	import { page } from '$app/stores';
    import { contenus } from '$lib/TNSI/03/contenus.js';

    import Navigation from '$lib/Navigation.svelte';
    import Cadre from '$lib/Cadre.svelte';

</script>
<h1>Arbres binaires</h1>

<h2>Activités</h2>

<Navigation liste_donnee={$contenus} type="contenus_liste" />

<h2>Idées de projets</h2>

<ul>
<li> Codage de Huffman</li>
<li> Arbre généalogique</li>
<li> Transformation d'un arbre quelconque en arbre binaire</li>
<li> Nombre de Strahler</li>
<li> Arbre de décision</li>
<li> Arbre syntaxique</li>
<li> Équilibrer un arbre binaire de recherche</li>
<li> Arborescence des fichiers dans un système d'exploitation Linux</li>
<li> Partition binaire de l'espace</li>
<li> Convertir un arbre binaire en chaîne de caractères pour affichage, par exemple : 
<pre>
        _______0__
       /          \
    __1____        7
   /       \      / \
  2        3     8    1
 / \      /            \
4   6    2              9
<pre></li>
<li> Dessiner récursivement une plante avec la tortue. Vous pouvez exécuter et étudier le code suivant, puis l'améliorer : 
<pre>
from turtle import *

def arbre(hauteur):
    if hauteur > 1:
        forward(100)
        right(25)
        arbre(hauteur-1)
        left(50)
        arbre(hauteur-1)
        right(25)
        back(100)
penup()
left(90)
back(150)
pendown()
color("brown")
arbre(5)
done()
</pre>
Voir ci-dessous un exemple de plante qu'on peut obtenir.</li>
</ul>

<figure>
<img src= "https://minio.apps.education.fr/codimd-prod/uploads/upload_43e8a23de349689f72eb9ec12e194b5e.png" />
<figcaption>Figure réalisée avec le tortue</figcaption>
</figure>