<script>
import { page } from '$app/stores';
import Navigation from '$lib/Navigation.svelte';
import Cadre from '$lib/Cadre.svelte';
</script>

<h1>Spécialité NSI en Terminale</h1>

<p>Au menu :</p>

<Navigation page={$page.url.pathname} type="chapitres"/>

<Cadre classe="aretenir">
<span slot="titre">
Matériel obligatoire
</span>
<span slot="contenu">
<p>Pour les séances de NSI il vous faudra :</p>
<ol>
   <li>vos identifiants pour le réseau du lycée ;</li>
   <li>vos identifiants pour l'ENT ;</li>
   <li>un classeur, avec des feuilles à la fois pour ranger les fiches papier distribuées et pour écrire, chercher au brouillon.</li>
</ol>
</span>
</Cadre>