<h1>Crédits</h1>

<p>Sauf mention contraire, le contenu de ce site est © Laurent Zamo, <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr">licence CC-by-SA v4 </a>.
  Veuillez noter que la plupart des vidéos et certaines images accessibles depuis ce site ne sont pas de mon crû et donc soumises à d'autres droits d'auteur.</p>

<p>Ce site est hébergé par la forge de l'Éducation nationale en France, à l'adresse https://f66400.forge.apps.education.fr. 
Il utilise les technologies Gitlab Pages, Svelte et Sveltekit et est programmé en HTML, Javascript et CSS.</p>

<p>Pour les élèves : en cas de question ou de problème, n'hésitez pas à me contacter sur mon adresse e-mail académique laurent.zamo[arobase]ac-montpellier[point]fr ou par la messagerie de l'ENT.</p>