<script>
	import choix_ent from '$lib/1NSI/02/images/choix_ent.png';
    import code_capytale from '$lib/1NSI/02/images/code_capytale.png';
    import connexion_ent from '$lib/1NSI/02/images/connexion_ent.png';
</script>

<h1>Connexion à Capytale</h1>
<p>
Cette année nous allons beaucoup utiliser Capytale, une interface en ligne sécurisée qui permet de programmer en Python, 
mais aussi en d'autres langages que nous utiliserons plus tard.
</p>
<p><strong>Pour vous connecter à Capytale, vous devrez utiliser vos identifiants ENT.</strong>
</p>
<p>Pour accéder à une activité Capytale :</p>
<ol>
<li>Cliquez sur le lien qui sera proposé ; cela vous amènera sur une page où vous devrez choisir votre ENT. Choisissez Mon ENT Occitanie.
<figure>
<img src={choix_ent}>
<figcaption>Choisissez l'ENT Occitanie.</figcaption>
</figure>
</li>
<li>Connectez-vous à l'ENT comme d'habitude.
<figure>
<img src={connexion_ent} >
<figcaption>Connexion habituelle.</figcaption>
</figure>
</li>
<li>La connexion à l'ENT va vous envoyer sur une page vous demandant un code. <strong>Ne le modifiez pas !</strong> Contentez-vous de cliquer sur 
<span class="go_button">Go !</span>
<figure>
<img src={code_capytale}>
<figcaption>Cliquez sur Go!.</figcaption>
</figure>
</li>
</ol>

<p>Après la première connexion à une activité, vous pourrez la retrouver avec toutes les autres, 
soit directement sur <a href="https://capytale2.ac-paris.fr">https://capytale2.ac-paris.fr</a>, soit sur l'ENT,
dans le menu de gauche, rubrique "Pédagogie".</p>
<p>Pendant une activité, n'oubliez pas de sauvegarder régulièrement, mais ne cliquez pas sur "rendre" : c'est comme une copie numérique, une fois rendue, vous ne pouvez
plus la modifier.
</p>

<style>
 .go_button {
  border-radius: 12px;
  font-weight: bolder;
  color: #e2e3e5;
  font-size: 1.3em;
  padding: 0px 7px;
  height: 2em;
  top: 10px;
  background-color: #003CC5;
 }
</style>


