<script>
	import { quintOut } from 'svelte/easing';
	import { crossfade } from 'svelte/transition';
	import { flip } from 'svelte/animate';

	import InfoTroisLits from '$lib/TNSI/01/InfoTroisLits.svelte';

	const [send, receive] = crossfade({
		fallback(node, params) {
			if(! animer){return 0}

			const style = getComputedStyle(node);
			const transform = style.transform === 'none' ? '' : style.transform;

			animer = false;

			return {
				duration: 600,
				easing: quintOut,
				css: (t) => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			};
		}
	});


	let animer = false;

	let matelas = [
        {texte: "&nbsp;&nbsp;&nbsp;", cle:0, classe: "toutrouge"},
        {texte: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", cle:1, classe: "toutbleu" },
        {texte: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", cle:2, classe: "toutviolet"},
        {texte: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", cle:3, classe: "toutvert"}
    ];

    let piles = [ [...matelas], [], [] ];


	function verifier(){
		animer = false;
		if (piles[2].length !== matelas.length) return false;
		params_alerte = ["Exercice réussi !","bravo",true];
	}

	function depiler(depart, arrivee) {
		if(piles[depart].length == 0){
			params_alerte = ["Impossible de dépiler une pile vide !","erreur",true];
			return 0;
		}
        if(piles[arrivee].length > 0 && piles[depart][0].cle > piles[arrivee][0].cle){
            params_alerte = ["Impossible d'empiler un matelas sur un matelas plus petit !","erreur",true];
            return 1;
        }
		animer = true;
		// récupération de la clé de l'item dépilé
		let a = piles[depart].shift();
		// empilement
		piles[arrivee].unshift(a);
        piles = piles;
		verifier();
  }
   import Alerte from '$lib/Alerte.svelte';
	let params_alerte = ["","",false];
</script>

<Alerte bind:params_alerte />
<h1>Les trois lits de la princesse</h1>

<InfoTroisLits />

<p>
Les boutons permettent de déplacer le matelas situé au sommet d'un lit sur un autre lit.
</p>

<table>
<tr>
	<td>Lit&nbsp;1</td>
	<td> </td>
	<td>Lit&nbsp;2</td>
	<td> </td>
	<td>Lit&nbsp;3</td>
</tr>
<tr>
	<td class="lit">
		{#each piles[0] as item, index  (item.cle)}
			<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip >
				<span class = "matelas toutrouge">
					{@html item.texte}
				</span>
			</div>
		{/each}
	 </td>
	<td>
		<button on:click={() => depiler(0,1)}>&gt;</button>
		<br/>
		<button on:click={() => depiler(1,0)}>&lt;</button>
		<br/>
		<button on:click={() => depiler(0,2)}>&gt;&gt;</button>
	</td>
	<td class="lit">
		{#each piles[1] as item, index  (item.cle)}
			<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip >
				<span class = "matelas toutrouge">
					{@html item.texte}
				</span>
			</div>
		{/each}
	 </td>
	<td>
		<button on:click={() => depiler(1,2)}>&gt;</button>
		<br/>
		<button on:click={() => depiler(2,1)}>&lt;</button>
		<br/>
		<button on:click={() => depiler(2,0)}>&lt;&lt;</button>
	</td>
	<td class="lit">
		{#each piles[2] as item, index  (item.cle)}
			<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip >
				<span class = "matelas toutrouge">
					{@html item.texte}
				</span>
			</div>
		{/each}
	 </td>
</tr>
</table>

<style>
table td.lit {
    width: 7em;
    height: 6em;
    vertical-align: bottom;
	border: 3px solid var(--monrouge);
    padding: 5px;
    border-radius: 5px;
}

.matelas{
	border-radius:2px;
}
</style>