<script context="module">
	export let vrai_faux = function(mode){
		return mode == "0/1" ? [0,1] : ["faux", "vrai"];
	}
</script>
<script>
	export let groupe="booleens";
	export let label = "";

	export let mode = "0/1"; // ou "vrai_faux"
	$: affichage = vrai_faux(mode);
</script>

<span>
	{label}
	<label>
		<input
			type="radio"
			value={0}
			bind:group={groupe}
		/>{affichage[0]}
</label>
<label>
		<input
			type="radio"
			value={1}
			bind:group={groupe}
		/>{affichage[1]}
</label>
</span>
