<script>
	import Booleen, {vrai_faux} from './Booleen.svelte';
	
	let autre_mode = "vrai/faux";
	$: mode = autre_mode == "vrai/faux" ? "0/1" : "vrai/faux";
	$: vf = vrai_faux(mode);
	
	let colonne1 = [0,0,1,1];
	let colonne2 = [0,1,0,1];

	let autre_affichage = "le tableau croisé";
	$: affichage = autre_affichage == "la table de vérité" ? "le tableau croisé" : "la table de vérité";
	
  function basculer_affichage(){
		autre_affichage = autre_affichage == "la table de vérité" ? "le tableau croisé" : "la table de vérité";
	}
	/* exportables */
	
	export let operation = function(a,b){return a && (1-b)};
	export let titres_colonnes = ["A","B","A ET NON B"];
    export let fixe = false;
	let tb0=0, tb1=0, tb2=0, tb3=0;
	export let groupes = [tb0, tb1, tb2, tb3];

	let compte_erreurs = 0;
	let tableau = calculer_tableau();
	function calculer_tableau(){
		return colonne1.map(function(e, i) {
	      return [e, colonne2[i], operation(e, colonne2[i])];
  });
	}
	function afficher_booleen(e){
		if(mode == "vrai/faux"){
			return vf[e]
		}else {
			return e
		}
	}
	function basculer_mode(){
		if(autre_mode == "vrai/faux"){
			autre_mode = "0/1";
		}else{
		  autre_mode = "vrai/faux"			
		}
	}
	let essais = 0;
	function verifier(groupes, tableau){
		essais ++;
		compte_erreurs = 0
		let reponse = true;
		for(let i = 0; i< 4; i++){
			if(groupes[i] !== tableau[i][2]){
				console.log(`${tableau[i][2]} - ${groupes[i]}, ${i}`)
				compte_erreurs++
				reponse = false;
			}
		}
		if(reponse){
			params_alerte = [`Exercice réussi en ${essais} essai${essais>1 ? 's' : ''}.`,"bravo",true];
			affichage = "table de vérité tableau croisé";
			fixe = true;
		}else{
			params_alerte = [`Essai n° ${essais}. Votre réponse comporte ${compte_erreurs} erreur${compte_erreurs > 1 ? 's' : ''}.`,"erreur",true];
		}
	}
	import Alerte from '$lib/Alerte.svelte';
	let params_alerte = ["","",false];
</script>
{#key !fixe}
<Alerte bind:params_alerte />
{/key}
{#if affichage.includes("table de vérité") }
<table>
	<tr>
		{#each titres_colonnes as item}
			<th>{item}</th>
		{/each}
	</tr>
	{#each tableau as item, index }
		<tr>
			<td>
				{vf[item[0]]}
			</td>
			<td>
				{vf[item[1]]}
			</td>
			<td>
				{#if fixe}
				   {vf[item[2]]}
				{:else}
					<Booleen bind:groupe={groupes[index]} bind:mode />
				{/if}
			</td>
		</tr>
	{/each}
</table>
{/if}
{#if affichage.includes("tableau croisé") && affichage.includes("table de vérité")}
<div>Exercice réussi en {essais} essai{essais>1 ? 's' : ''}.</div>
{/if}
{#if affichage.includes("tableau croisé")}
<table>
	<caption>
    {titres_colonnes[2]}
  </caption>
	<tr>
		<th>A\B</th><th>{vf[0]}</th><th>{vf[1]}</th>
	</tr>
	<tr>
		<th>{vf[0]}</th>
		<td> {#if fixe}
				   {vf[tableau[0][2]]}
				{:else}
					<Booleen bind:groupe={groupes[0]} bind:mode />
				{/if}
		</td>
		<td> {#if fixe}
				   {vf[tableau[1][2]]}
				{:else}
					<Booleen bind:groupe={groupes[1]} bind:mode />
				{/if}
		</td>
	</tr>
	<tr>
		<th>{vf[1]}</th>
		<td> {#if fixe}
				   {vf[tableau[2][2]]}
				{:else}
					<Booleen bind:groupe={groupes[2]} bind:mode />
				{/if}
		</td>
		<td> {#if fixe}
				   {vf[tableau[3][2]]}
				{:else}
					<Booleen bind:groupe={groupes[3]} bind:mode />
				{/if}
		</td>
	</tr>
</table>
{/if}

{#if !fixe}
	<button on:click={()=>verifier(groupes, tableau)}>vérifier</button>
	<button on:click={basculer_mode}>basculer en mode {autre_mode}</button>
	<button on:click={basculer_affichage}>voir {autre_affichage}</button>
{/if}

<style>

td, th{
	text-align: center;
	min-width: 2em;
	padding:10px;
}
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid var(--monrouge);
}
.erreur{
	background-color: var(--fondrouge);
}
</style>