<script>
import Cadre from '$lib/Cadre.svelte';
import Video from '$lib/Video.svelte';
</script>

<h1>Le binaire</h1>

<Cadre classe="afaire">
  <span slot="titre">Vidéo</span>
  <span slot="contenu">
    <p>Visualisez la vidéo et répondez aux questions.</p>

    <Video lien = {'https://www.youtube.com/embed/USCBCmwMCDA?si=VSlYTfGLlvUAYFQn'} />

    <ol>
      <li>Pourquoi l'information est-elle représentée uniquement par des 0 et des 1 dans un ordinateur&nbsp;?</li>
      <li>Qu'est-ce qu'un <strong>bit</strong>&nbsp;?</li>
      <li>Combien de nombres différents peut-on coder sur un bit&nbsp;? sur 8 bits&nbsp;?</li>
      <li>Bonus (hors vidéo) : combien de nombres différents peut-on coder sur <math>n</math> bits, où <math>n</math> est un nombre entier positif quelconque&nbsp;?</li>
      <li>Pourquoi est-il si important de pouvoir coder des nombres entiers en binaire&nbsp;?</li>
      <li>Comment coder un texte en binaire&nbsp;?</li>
      <li>Comment coder une image en binaire&nbsp;?</li>
      <li>Comment coder un son en binaire&nbsp;?</li>
    </ol>
  </span>
</Cadre>

<Cadre classe="afaire">
  <span slot="titre">Recherche</span>
  <span slot="contenu">
    <p>Faites des recherches sur le web ou dans un livre pour répondre aux questions suivantes :</p>
    <ol>
      <li>Qu'est-ce qu'<strong>un octet</strong>&nbsp;?</li>
      <li>Qu'est-ce qu'<strong>un kilooctet</strong> (abrégé : Ko) <strong>un mégaoctet</strong> (Mo) <strong>un gigaoctet</strong> (Go) <strong>un teraoctet</strong> (To)&nbsp;?</li>
      <li>Qu'est-ce qu'<strong>un hertz</strong> (abrégé Hz)&nbsp;? </li>
      <li>Qu'est-ce qu'<strong>un kilohertz</strong> (abrégé : KHz) <strong>un mégahertz</strong> (MHz) <strong>un gigahertz</strong> (GHz) <strong>un terahertz</strong> (THz)&nbsp;?</li>
    </ol>
  </span>
</Cadre>

<Cadre classe="aretenir">
  <span slot="contenu">
    <ul>
    <li>Pourquoi et comment le binaire est utilisé par les ordinateurs.</li>
    <li>Le vocabulaire du binaire (bit, octet, les préfixes kilo, etc.)</li>
    <li>Comment calculer le nombre d'informations qu'on peut coder sur <math>n</math> bits.</li>
    </ul>
  </span>
</Cadre>
