<script>
import Cadre from '$lib/Cadre.svelte';
</script>
<h1>Performances d'un ordinateur</h1>
<Cadre classe="afaire">
  <span slot="titre">Recherche</span>
  <span slot="contenu">
    <p>
      La principale caractéristique de la mémoire vive (ou RAM) est sa capacité : le nombre de bits qu'elle peut stocker.
    </p>
    <p>Pour le processeur c'est surtout la vitesse qui est importante. Elle se mesure en Hertz (ou Hz), ce qui compte le nombre d’opérations élémentaires que le processeur est capable d’exécuter par seconde.</p>

    <p>Cherchez la capacité de la RAM et la vitesse du processeur des ordinateurs suivants, puis recopiez et complétez le tableau :</p>

    <table>
      <thead>
        <th>Ordinateur</th>
        <th>Mémoire (bits)</th>
        <th>Processeur (Hz)</th>
        <th>Année de sortie</th>
      </thead>
      <tr>
        <td>LoRDi de la région</td>
        <td>... </td>
        <td>... </td>
        <td>... </td>
      </tr>
      <tr>
        <td>Un ordinateur du lycée </td>
        <td>... </td>
        <td>... </td>
        <td>... </td>
      </tr>
      <tr>
        <td>Votre smartphone, si vous en avez un </td>
        <td>... </td>
        <td>... </td>
        <td>... </td>
      </tr>
      <tr>
        <td>Raspberry Pi 400 </td>
        <td>... </td>
        <td>... </td>
        <td>... </td>
      </tr>
      <tr>
        <td>Apollo Guidance Computer </td>
        <td>... </td>
        <td>... </td>
        <td>... </td>
      </tr>
      <tr>
        <td>ENIAC </td>
        <td>... </td>
        <td>... </td>
        <td>... </td>
      </tr>
    </table>
  </span>
</Cadre>

<Cadre classe="aretenir">
  <span slot="contenu">
    <ul>
    <li>Le vocabulaire du binaire (bit, octet, les préfixes : kilo, mega, etc.)</li>
    <li>L'ordre de grandeur des performances des ordinateurs.</li>
    </ul>
  </span>
</Cadre>
