<script>
	import { quintOut } from 'svelte/easing';
	import { crossfade } from 'svelte/transition';
	import { flip } from 'svelte/animate';

    import InfoPrincesse from '$lib/TNSI/01/InfoPrincesse.svelte';

	const [send, receive] = crossfade({
		fallback(node, params) {
			if(! animer){return 0}

			const style = getComputedStyle(node);
			const transform = style.transform === 'none' ? '' : style.transform;

			animer = false;

			return {
				duration: 600,
				easing: quintOut,
				css: (t) => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			};
		}
	});


	let animer = false;

    let matelas = [
        {texte: "Un très très grand matelas", cle:3},
        {texte: "Le plus grand de tous les matelas de la princesse", cle:5},
        {texte: "Un matelas", cle:0},
        {texte: "Un grand matelas", cle:1},
        {texte: "Le deuxième plus grand des matelas", cle:4},
        {texte: "Un très grand matelas", cle:2}
    ]

	let essais = 0;

	function verifier(){
        animer = false;
		for(let i = 0; i < matelas.length; i++){
            if(matelas[i].cle !== i){
                return false;
            }
        }
        params_alerte = ["Exercice réussi !","bravo",true];
        return true;
	}
    function retourner(i){
        animer = true;
        let copie = [];
        for(let j = 0; j <= i; j++){
            copie.push(matelas[i-j]);
        }
        for(let k = 0; k <= i; k++){
            matelas[k] = copie[k];
        }
        matelas = matelas ;
        verifier();
    }

    import Alerte from '$lib/Alerte.svelte';
	let params_alerte = ["","",false];
</script>

<Alerte bind:params_alerte />
<h1>La Princesse au petit pois</h1>

<InfoPrincesse />

<p>Cliquez sur un matelas pour retourner toute la pile des matelas situés au-dessus de ce matelas, lui y compris.</p>

 <div class="pile centre">
    {#each matelas as item, index  (item.cle)}
        <div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip
                style = "cursor:pointer; padding:5px; border-radius:5px;" class="rouge" on:click={() => retourner(index)} >
                {item.texte}
        </div>
    {/each}
 </div>