<script>
	import TableauBooleen from '$lib/1NSI/03/TableauBooleen.svelte';

	let titres_colonnes = ["A","B","A OU (NON B)"];
	function operation(a,b){
		return (a + 1 - b) == 2 ? 1 : a + 1 - b ;
	}
    export let titre = titres_colonnes[2];
</script>

{#if titre}
	<h1>{titre}</h1>
{/if}

<p>Complétez le tableau donnant {titres_colonnes[2]} en fonction de A et de B.</p>

<TableauBooleen {operation} {titres_colonnes} />