<script>
    import { quintOut } from 'svelte/easing';
	import { crossfade } from 'svelte/transition';
	import { flip } from 'svelte/animate';
	import { onMount } from 'svelte';

	const [send, receive] = crossfade({
		fallback(node, params) {
			if(! animer){return 0}

			const style = getComputedStyle(node);
			const transform = style.transform === 'none' ? '' : style.transform;

			animer = false;

			return {
				duration: 600,
				easing: quintOut,
				css: (t) => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			};
		}
	});

	import Cadre from '$lib/Cadre.svelte';

	let animer = false;

	let programme = "";
	let cle = 3;

   let piles = [[{texte:"🐼", "cle":2},
					{texte:"🦊", "cle":1},
                    {texte:"🐯", "cle":0}],
                    [],
                    [],
                    []];  // piles[3] pour la variable x

	let noms_piles = ["P1","P2","P3"];

	let objectif = [...piles[0]].reverse(); // toReversed n'est pas supporté par tous les navigateurs

	let init = function(){
		console.log('init');
		piles = [[
                    {texte:"🐼", "cle":2},
					{texte:"🦊", "cle":1},
                    {texte:"🐯", "cle":0}
					],
                    [],
                    [],
                    []];
	}

	function verifier(){
		animer = false;
		console.log("vérification");
		if (piles[0].length !== objectif.length) return false;
		for (let i = 0; i < objectif.length; i++) {
			console.log(piles[0][i].texte + " <->" +  objectif[i].texte);
			if (piles[0][i].texte !=  objectif[i].texte){
				return false;
			}
		}
		 params_alerte = ["Exercice réussi !", "bravo", true];
	}
	
	function depiler(depart) {
		if( ! [0,1,2].includes(depart) ){
			animer = false;
			throw new Error("ERREUR. Pile "+depart.toString()+" inconnue.");
		}
		else if(piles[depart].length == 0){
			animer = false;
			throw new Error("ERREUR. Impossible de dépiler une pile vide : "+depart.toString()+".");
		}
		else{
			animer = true;
			// récupération de la clé de l'item dépilé
			let elt =  piles[depart].shift();
			if(piles[3].length==0){
					piles[3].push(elt)
			}else{
					piles[3][0] = elt;
			}
	        piles = piles;
			animer = false;
		}
    }

	function empiler(p){
		if( ! [0,1,2].includes(p) ){
			animer = false;
			throw new Error("ERREUR. Pile "+p.toString()+" inconnue.");
		}
		else if(piles[3].length == 0){
			animer = false;
			throw new Error("ERREUR. Impossible d'empiler : x n'est pas défini");
		}else{
			animer = true;
			let a = piles[3].pop();
			// copie
			let b = {"texte":a.texte, "cle":cle++}
			piles[3].push(b);
      		piles[p] = [a, ... piles[p]];
			piles = piles;
			verifier();
		}
	}


let pyodide;
let chargement = "";

async function executer() {
  let res
  if (!pyodide) {
	chargement = "Chargement de Python..."
    res = await charger_pyodide();
    pyodide = res[0];
    chargement = res[1];
  }else{
	chargement = "Python chargé !"
  }
  pyodide.registerJsModule("mymodule", {
    depiler: depiler,
    empiler: empiler
  });
  try {
    init()
    let output = pyodide.runPython("from mymodule import *\n" + programme);
    console.log(output);
  } catch (err) {
    let tab = err.message.split(/\r\n|\r|\n/g);
    console.log(tab.join('---'));
    console.log(tab.length);
    params_alerte = [tab[tab.length - 2], "erreur", true];
  }

}



import Alerte from '$lib/Alerte.svelte';
	let params_alerte = ["","",false];
</script>

<Alerte bind:params_alerte />
<svelte:head>
    <script src="https://cdn.jsdelivr.net/pyodide/v0.26.1/full/pyodide.js"></script>
	<script type="text/javascript">
    async function charger_pyodide(){
        pyodide = await loadPyodide();
        pyodide.runPython("print('python chargé !')");
		chargement = "Python chargé !";
		return [pyodide, chargement];
    }
    </script>
</svelte:head>

<h1>Retourner une pile...</h1>
<h2>...en programmant avec Python et des boucles</h2>
<Cadre classe="info">
	<span slot="contenu">
	<p>Pour répondre au problème, allez devoir programmer en Python.</p> 
	<p>
	Vous devez retourner la pile d'indice <code>0</code> sur elle-même. Pour cela, vous pouvez utiliser deux piles auxiliaires : 
	la pile d'indice <code>1</code> et la pile d'indice <code>2</code>, ainsi qu'une variable <code>x</code>.	
	</p>
	<p>Vous disposez d'un éditeur Python dans lequel vous pouvez utiliser toutes les possibilités de ce langage ainsi que deux instructions spéciales :</p>
	<ul>
	<li><code>depiler(n)</code> supprime le sommet de la pile d'indice <code>n</code> et l'affecte à la variable <code>x</code> ;</li>
	<li><code>empiler(n)</code> empile la valeur de <code>x</code> sur la pile d'indice <code>n</code>.</li>
	</ul>
	</span>
</Cadre>
<table>
<tr>
	<th>Objectif</th>
	<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
	<th><code>0</code></th>
	<th><code>1</code></th>
	<th><code>2</code></th>
	<th><code>x</code><th>
</tr>
<tr>
	<td class="cadrebleu">
		{#each objectif as item}	
	    	<div>
		 	{item.texte}
			</div>
    {/each}
	</td>
	<td></td>
	<td class="cadrerouge element_pile">
		{#each piles[0] as item (item.cle)}	
	    	<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip>
		 		{item.texte}
			</div>
    {/each}
	</td>
	<td class="cadrerouge element_pile">
		{#each piles[1] as item (item.cle)}	
	    	<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip>
		 		{item.texte}
			</div>
    {/each}
	 </td>
	<td class="cadrerouge element_pile">
		{#each piles[2] as item (item.cle)}	
	    	<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip>
		 		{item.texte}
			</div>
    {/each}
	</td>
	<td style="vertical-align: top;" class="element_pile" >
		{#each piles[3] as item (item.cle)}	
				<div class="cadrebleu" in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip>
					{item.texte}
				</div>
		{/each}
	</td>
</tr>
</table>
<div class="tableaudebord">
	<button on:click={executer}>exécuter le code</button>
	<button on:click={init}>initialiser les piles</button>
	<span>{chargement} </span>
</div>
<textarea bind:value={programme} id="ide" />

<style>
.element_pile{
	min-width:2em;
}
</style>