<script>
export let niveau = 2;
export let texte = "";
export let cercle = false;
$: epaisseur = cercle ? '5px' : '0px';
let couleurs = ["var(--monbleu)", "var(--monrouge)", "var(--mongris)", "var(--monviolet)", "var(--monvertfonce)", "var(--monpourpre)"];
export let rayon_max = 10 + 3*5;

export let rayon = change_niveau(niveau);
	
function change_niveau(n){
	return niveau == -1 ? 0 : 10 + 3*n;
}

export let couleur = couleurs[niveau];
	
</script>
<span style="margin:0px auto">
<svg width={2*rayon_max+2} height={2*rayon_max+2}>
	<circle cx={rayon_max+3} cy={rayon_max+3} r={rayon} fill={couleur} stroke=white stroke-width={epaisseur}/>
	<text x={rayon+3} y={rayon+3} class="texte">{texte}</text>
</svg>
</span>
<style>
	.texte{
		fill:white;
		text-anchor: middle;
		dominant-baseline: middle;
	}
</style>
