<script>
	import Cadre from '$lib/Cadre.svelte';
	import Bulle from '$lib/1NSI/05/Bulle.svelte';
	let reponse = 2;
	let nb_min = 2;
	let nb_max = 63;
	let essais = 0;
	let solution = Math.floor(Math.random()*(nb_max + 1 - nb_min) + nb_min);
	let solution_bin = solution.toString(2);
	let solution_bin_tab = solution_bin.split('');
	
	$: bulles = creer_liste();
	let cle = 0;
	function creer_liste(){
		let b = []
		for(let i = 0; i < solution_bin_tab.length; i++){
			if(solution_bin_tab[i]==1){
				b.push({texte:"", cle:cle++, niveau:solution_bin_tab.length-i-1})
			}
		}
		return b
	}
  function verifier(){
	    essais ++;
		let accord = essais > 1 ? "s. Pourquoi ne pas réessayer pour y parvenir du premier coup ?" : ".";
		console.log(`${solution}, ${reponse}`)
		if(solution == reponse){ 
			 params_alerte = [`Exercice réussi en ${essais} essai${accord} Rechargez la page pour avoir un autre nombre aléatoire.`,"bravo",true];
		} else{
		   params_alerte = ["Ce n'est pas la bonne réponse. Aidez-vous en cliquant sur les bulles.","erreur",true];
		}
	}
	function scinder(b) {
		if(b.niveau == 0){
			params_alerte = ['Les toutes petites bulles ne peuvent pas être scindées !',"erreur",true]
		}else{
			b.niveau --;
			bulles.splice(bulles.findIndex((elt) => elt === b), 0, {texte:"", cle:cle++, niveau:b.niveau});
			bulles = bulles;
		}
	}
import Alerte from '$lib/Alerte.svelte';
	let params_alerte = ["","",false];
</script>

<Alerte bind:params_alerte />

<h1>Du binaire au décimal</h1>
<Cadre classe="afaire">
	<span slot="contenu">	
	<p>J'ai tiré au sort un nombre aléatoire compris entre {nb_min} et {nb_max}. Son écriture binaire est {solution_bin}, représentée ci-dessous avec des bulles.</p>
		<p>Choisissez l'écriture décimale de ce nombre en bougeant le curseur, puis cliquez sur le bouton "vérifier".</p>
	<p>Pour vous aider, vous pouvez cliquer sur une bulle pour la scinder en deux bulles égales.</p>
	</span>
</Cadre>
<div class="tableaudebord" style="width:fit-content; max-width:100%; margin: 0px auto;">
<label >Votre proposition :
	<input type="number" bind:value={reponse} min={nb_min} max={nb_max} style="width:4em;"/>
	<input type="range" bind:value={reponse} min={nb_min} max={nb_max} />
	<button on:click={verifier}>vérifier</button>
</label>
</div>
<div class="bulles">
Le nombre alétoire en binaire :
<table>
	<tr>
		{#each solution_bin as i, index}
		   <td style='text-align:center'>
				 <Bulle niveau={solution_bin.length-index-1} rayon_max={28} />
			</td>
	  {/each}
	</tr>
	<tr>
		{#each solution_bin as i}
		     <td style='text-align:center'> {i} </td>
	  {/each}
	</tr>
</table>
</div>

<div class="bulles">
	<div>Les bulles cliquables :</div>
	{#each bulles as item (item.cle)}
		<span on:click={()=>scinder(item)}>
			<Bulle niveau={item.niveau} rayon_max={28} />
		</span>
	{/each}
</div>


<style>
	.bulles{
		padding:10px;
		background-color: #ccc;
		color:var(--monbleu);
		margin-top:10px;
		border-radius: 5px;
    }
</style>


