<script>
	let animer = false;

    import { quintOut } from 'svelte/easing';
	import { crossfade } from 'svelte/transition';
	import { flip } from 'svelte/animate';
	
    const [send, receive] = crossfade({
		fallback(node, params) {
			if(! animer){return 0}

			const style = getComputedStyle(node);
			const transform = style.transform === 'none' ? '' : style.transform;

			animer = false;

			return {
				duration: 600,
				easing: quintOut,
				css: (t) => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			};
		}
	});


    let ligne_active = 0;
	let lecture = false;
	
	import Console from '$lib/Console.svelte';
	import Cadre from '$lib/Cadre.svelte';
	import InfoFileDeuxPiles from '$lib/TNSI/01/InfoFileDeuxPiles.svelte';

	let programme = [ ];
	 /*
		{cle: 0, texte: "enfiler(F, 2)", instruction: (() => enfiler(2)) },
		{cle: 1, texte: "enfiler(F, 3)", instruction: (() => enfiler(3)) },
		{cle: 3, texte: "enfiler(F, 5)", instruction: (() => enfiler(5)) },
		{cle: 4, texte: "defiler()", instruction: (() => defiler()) },
		{cle: 5, texte: "enfiler(F, 4)", instruction: (() => enfiler(4)) },
		{cle: 6, texte: "defiler()", instruction: (() => defiler()) },
   // {cle, texte, instruction}
   */
	  // tableau de 10 nombres aléatoires

	  let tab = []
	  for(let i=0;i<10;i++){
			tab.push(Math.floor(Math.random()*10));
		}
	  let cle_programme = 0;
    // 3 ou 4 'enfiler'
		let a = Math.floor(Math.random()*2 + 3);
		for (let i=0; i<a; i++){
			 programme.push({cle: cle_programme, 
											 texte: "enfiler(F, "+tab[i].toString()+")", 
											 instruction: (() => enfiler(tab[i])) });
		   cle_programme ++;
		}
	 // 1 ou 2 défiler
	  let b = Math.floor(Math.random()*2 + 1);
		for (let i=0; i<b; i++){
			 programme.push({cle: cle_programme, 
											 texte: "defiler()", 
											 instruction: (() => defiler()) });
		   cle_programme ++;
		}
	  // 2 ou 3 'enfiler'
		let c = Math.floor(Math.random()*2 + 2);
		for (let i=a; i<a+c; i++){
			 programme.push({cle: cle_programme, 
											 texte: "enfiler(F, "+tab[i].toString()+")", 
											 instruction: (() => enfiler(tab[i])) });
		   cle_programme ++;
		}
	 // 1 ou 2 défiler
	  b = Math.floor(Math.random()*2 + 1);
		for (let i=0; i<b; i++){
			 programme.push({cle: cle_programme, 
											 texte: "defiler()", 
											 instruction: (() => defiler()) });
		   cle_programme ++;
		}

  let piles = [[],[]] ;

	let faux= [[-1],[-1]];

	let solution = [ [], [] ];
	let enfiler_num = 0;

	function executer_tout_code(){
		init();
		for (let j = 0; j < programme.length; j++) {
			programme[ligne_active].instruction();
			console.log(JSON.stringify(programme[ligne_active]));
		  ligne_active ++;
		}
	}
	
	function verifier(){
        console.log("sol"+solution.toString());
        console.log("p1"+piles[0].toString());
        console.log("p2"+piles[1].toString());
		executer_tout_code();
		faux = [-1, -1];
		let resultat = true;
		if(piles[0].length != solution[0].length){
			 params_alerte = ["ERREUR. Le nombre d'éléments de P1 n'est pas corect.","erreur",true];
			return 0;
		}else if(piles[1].length != solution[1].length){
			params_alerte = ["ERREUR. Le nombre d'éléments de P2 n'est pas corect.","erreur",true];
			return 0;
		}else{
			for(let j = 0; j < 2; j++){
			  for(let i = 0; i < solution[j].length; i++){
					if(piles[j][i].texte != solution[j][solution[j].length - i - 1]){  // piles affichées à l'envers
						params_alerte = ["ERREUR. L'élément sur fond rouge est faux.","erreur",true];
						faux = [j, i]; // on n'indique qu'un seul élément faux
						console.log(faux.toString());
                        return 0;
					}
				}
			}
		}
		params_alerte = ["Exercice réussi !","bravo",true];
	}
	
	let init = function(){
		solution = [[],[]];
		ligne_active = 0;
		lecture = false;
	}

  	init();

	let enfiler = function(i){
		solution[0].push(i);
		solution = solution;
		console.log(i);
	}

	let defiler = function(){
		if(solution[1].length > 0){
			solution[1].pop();
		}else{
			  let x;
			  while(solution[0].length > 0){
				   x = solution[0].pop();
					 solution[1].push(x);
			 }
			 solution[1].pop();
		}
		solution = solution;
	}

    let enfiler_reponse = function(pile){
		animer = true;
		piles[pile] = [ {cle: enfiler_num, texte: 0}, ...piles[pile] ];
		enfiler_num ++;
	}
    let defiler_reponse = function(pile){
		animer = true;
		piles[pile].shift();
		piles = piles;
	}

	import Alerte from '$lib/Alerte.svelte';
	let params_alerte = ["","",false];
</script>

<Alerte bind:params_alerte />
<h1>Une file avec deux piles</h1>
<h2>Enfiler et défiler des éléments, exercice aléatoire</h2>
<Cadre classe="info">
<span slot="contenu">
<p>
Cet exercice contient des données aléatoires. 
Il vous suffit de recharger la page pour obtenir un exercice semblable, mais avec d'autres données aléatoires.
</p>
</span>
</Cadre>

<InfoFileDeuxPiles />

<Cadre classe="afaire">
<span slot="contenu">
<p>Le programme Python écrit ci-dessous utilise deux fonctions :</p>
<ul>
<li><code>defiler(F)</code> supprime l'élément situé en tête de la file <code>F</code> ;</li>
<li><code>enfiler(F, elt)</code> enfile la valeur de <code>elt</code> à la fin de la file <code>F</code>.</li>
</ul>

<p>Vous devez compléter les deux piles ci-dessous pour qu'elles correspondent au contenu final des piles 
	<code>P1</code> et <code>P2</code> après exécution du code donné dans la console.</p> 

</span>
</Cadre>

<Console bind:programme mode="fixe" />

<p>Appuyez sur les boutons 
<button>+</button> ou <button>-</button> à côté du nom d'une pile pour ajouter ou supprimer un élément 
au sommet de cette pile, puis sur <button on:click={verifier}>verifier</button> quand vous aurez fini.</p>

<table>
<tr>
	<td> <code>P1</code>
		   <button on:click={() => { enfiler_reponse(0) } }>+</button>
		   <button on:click={() => { defiler_reponse(0) } }>-</button>
	</td>
	<td> <code>P2</code> 
		  <button on:click={() => { enfiler_reponse(1) } }>+</button>
		  <button on:click={() => { defiler_reponse(1) } }>-</button>
	</td>
</tr>
<tr>
	<td class="lit" style="margin-right:1em;">
			{#each piles[0] as item, i (item.cle)}
				<div class:erreur={faux[0] == 0 && faux[1] == i} in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip >
					<input type="number" bind:value={piles[0][i].texte} min="0" max="10" class:erreur={faux[0] == 0 && faux[1] == i}/>
			  </div>
			{/each}
	 </td>
	<td class="lit" style="margin-left:1em;">
			{#each piles[1] as item, i (item.cle)}
				<div class:erreur={faux[0] == 1 && faux[1] == i} in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip >
					<input type="number" bind:value={piles[1][i].texte} min="0" max="10" class:erreur={faux[0] == 1 && faux[1] == i} />
				</div>
			{/each}
	 </td>
</tr>

</table>
<style>
input{
	width:5em;
}
table td.lit {
    width: 7em;
    height: 6em;
    vertical-align: bottom;
	border: 3px solid var(--monrouge);
    padding: 5px;
    border-radius: 5px;
	  text-align:center;
}
.erreur{
	background-color: var(--fondrouge);
}
</style>
