<script>
  import Arbre from '$lib/TNSI/03/Arbre.svelte';
  import {est_feuille, creer_arbre_aleatoire, taille, hauteur} from '$lib/TNSI/03/arbres.js';
  import Cadre from '$lib/Cadre.svelte';
	
  let donnees = creer_arbre_aleatoire();
	let reponse_taille = 0;
	let reponse_hauteur = 0;
	const nb_min = 0;
	const nb_max = 20;
  
  let compte_essais = 0;
  function verifier(){
    compte_essais++ ;
		console.log(`taille : ${taille(donnees)}, hauteur : ${hauteur(donnees)}`);
    if(reponse_taille !== taille(donnees)){
			params_alerte = ["La taille n'est pas correcte.","erreur", true];
    }else if(reponse_hauteur !== hauteur(donnees)){
      params_alerte = ["La hauteur n'est pas correcte.","erreur", true];
    }else{
		  params_alerte = [`Exercice réussi en ${compte_essais} essai${compte_essais > 1 ? "s" : ""}. Vous pouvez obtenir un autre exercice aléatoire en rechargeant la page.`,"bravo", true];
		}
  }
  import Alerte from '$lib/Alerte.svelte';
  let params_alerte = ["","",false];
</script>

<Alerte bind:params_alerte />
<h1>Trouvez les feuilles</h1>

<Cadre classe="afaire">
<span slot="contenu">
<p>Déterminez la taille et la hauteur de cet arbre.</p>
<p>Ensuite, cliquez sur le bouton "vérifier".</p>
<p>Vous pouvez obtenir un autre exercice aléatoire en rechargeant la page.</p>
</span>
</Cadre>
<div style="margin:0px auto; width:fit-content; max-width:100%;">
	<div class="tableaudebord" style="width:fit-content; max-width:100%;">
	<label>Taille :
	<input type="number" bind:value={reponse_taille} min={nb_min} max={nb_max} style="width:4em;"/>
  </label>
		
  <label>Hauteur :
	<input type="number" bind:value={reponse_hauteur} min={nb_min} max={nb_max} style="width:4em;"/>
  </label>
  <button on:click={verifier}>vérifier</button>
</div>
     <Arbre {donnees} />
</div>