<script>
    let animer = false;

    import { quintOut } from 'svelte/easing';
	import { crossfade } from 'svelte/transition';
	import { flip } from 'svelte/animate';
	
    const [send, receive] = crossfade({
		fallback(node, params) {
			if(! animer){return 0}

			const style = getComputedStyle(node);
			const transform = style.transform === 'none' ? '' : style.transform;

			animer = false;

			return {
				duration: 600,
				easing: quintOut,
				css: (t) => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			};
		}
	});

	import Cadre from '$lib/Cadre.svelte';
	import InfoFileDeuxPiles from '$lib/TNSI/01/InfoFileDeuxPiles.svelte';
    let piles = [[],[]] ;
    let reponse = [];
    let a = 3 + Math.floor(Math.random()*4);
    for (let i=0; i < a ; i++){
        piles[ Math.floor(Math.random()*2) ].push( Math.floor(Math.random()*10) );
    }

   let solution = piles[1].concat([...piles[0]].reverse());
   let faux = -1;
	function verifier(){
        console.log("sol"+solution.toString());
        console.log("rep"+reponse.toString());
        console.log("p1"+piles[0].toString());
        console.log("p2"+piles[1].toString());
        if(reponse.length != solution.length){
            params_alerte = ["ERREUR. Le nombre d'éléments de votre file n'est pas correct.","erreur",true];
            return 0;
        }
		for (let i=0; i<reponse.length; i++){
			if(reponse[i].texte != solution[i]){
                params_alerte = ["ERREUR. L'élément sur fond rouge est faux.","erreur",true];
                faux = i;
                return 0;
            }
		}
        params_alerte = ["Exercice réussi !","bravo",true];
	}
	
    let enfiler_num = 0;
	let enfiler = function(i){
        faux = -1;
		reponse.push({texte:i,cle:enfiler_num});
        enfiler_num++;
        reponse = reponse;
	}

	let defiler = function(){
        faux = -1;
        if(reponse.length == 0){
            params_alerte = ["ERREUR. Impossible de défiler une file vide.","erreur",true];
            return 0;
        }
		reponse.shift();
        reponse = reponse;
	}
import Alerte from '$lib/Alerte.svelte';
	let params_alerte = ["","",false];
</script>

<Alerte bind:params_alerte />
<h1>Une file avec deux piles</h1>
<h2>Reconstituer la file</h2>
<Cadre classe="info">
<span slot="contenu">
<p>
Cet exercice contient des données aléatoires. 
Il vous suffit de recharger la page pour obtenir un exercice semblable, mais avec d'autres données aléatoires.
</p>
</span>
</Cadre>

<InfoFileDeuxPiles />

<Cadre classe="afaire">
<span slot="contenu">
<p>Vous devez reconstituer la file <code>F</code> implémentée par les deux piles <code>P1</code> et <code>P2</code> représentée ci-dessous.</p>
<p>Vous pouvez enfiler un nombre dans la file en cliquant sur lui et
défiler la file en cliquant sur le bouton <button>-</button> situé à côté des chiffres.</p>
<p>Cliquez sur <button>?</button> pour vérifier.</p>
</span>
</Cadre>

<div class="centre">
{#each [0,1,2,3,4,5,6,7,8,9] as nb}
<button on:click={()=>enfiler(nb)}>{nb}
</button>
{/each}
<button on:click={defiler}>-</button>
<button on:click={verifier}>?</button>
</div>

<div class="centre">
    {#if reponse.length > 0}
        <span>Enfiler → </span>
    {/if}
    {#each [...reponse].reverse() as item, i (item.cle) }
        <span class="item"  class:erreur={faux == reponse.length-i-1} in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip >{item.texte}</span>
    {:else}
        <span>Votre file apparaîtra ici.</span>
    {/each}
    {#if reponse.length > 0}
        <span> → Défiler</span>
    {/if}
</div>
<table>
<tr>
	<td> <code>P1</code>
	</td>
	<td> <code>P2</code> 
	</td>
</tr>
<tr>
	<td class="lit" >
			{#each piles[0] as p}
				<div class="item" >
					{p}
			  </div>
			{/each}
	 </td>
	<td class="lit" >
			{#each piles[1] as p}
				<div class="item">
					{p}
				</div>
			{/each}
	 </td>
</tr>

</table>
<style>

table td.lit {
    width: 2em;
    height: 6em;
    vertical-align: bottom;
	border: 3px solid var(--monrouge);
    padding: 5px;
    border-radius: 5px;
	text-align:center;
}

.item{
    border: 3px solid var(--monbleu);
    padding: 5px;
    border-radius: 5px;
    width: 1em;
    padding: 10px auto;
}
.centre{
    margin: 10px auto;
    text-align: center;
}
.erreur{
    background-color: var(--fondrouge);
}
</style>
