<script>
 	import { page } from '$app/stores';
    import Navigation from '$lib/Navigation.svelte';
    import Cadre from '$lib/Cadre.svelte';

</script>
<h1>Observer et reconnaître</h1>

<Cadre classe="afaire">
<span slot="titre">Observer</span>
<span slot="contenu">
    <p>Observez les deux groupes de personnes ci-dessous.
    </p>
    <ol>
    <li>Comment ces deux groupes sont-ils organisés ? Quelle différence entre les cinq <em>castellers</em> du haut et les autres ?</li>
    <li>Quelle va être la prochaine personne qui va sortir du groupe ? Quand est-elle entrée ?</li>
    </ol>
<table style="margin: 0px auto;">
<tr>
<td >
<figure class="container">
<img class="image" alt = ""
		src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/PhotoHycinth...JPG/512px-PhotoHycinth...JPG">
<figcaption>
	  Un défilé de mode en 2009 au Nigéria.
</figcaption>
</figure>
</td>
<td >
<figure class="container">
<img class="image" alt = ""
		src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Pilar_de_6_dels_Marrecs_de_Salt.JPG/256px-Pilar_de_6_dels_Marrecs_de_Salt.JPG">
<figcaption>
    Un <em>castell</em> en 2013 à Tarragone.
</figcaption>
</figure>
</td>
</tr>
</table>
</span>
</Cadre>

<Cadre classe="afaire">
<span slot="titre">Reconnaître</span>
<span slot="contenu">
    <p>Pour chaque situation suivante, déterminez si elle correspond à une file ou une pile.
    </p>

<figure class="container">
<img class="image" alt = ""
		src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/%C5%A0olarji_iz_tretjega_razreda_v_Ra%C4%8Dah%2C_%C4%8Dakajo_na_pregled_pred_avtobusom_-_ambulanto_ZD_Maribor_1962_%283%29.jpg/1024px-%C5%A0olarji_iz_tretjega_razreda_v_Ra%C4%8Dah%2C_%C4%8Dakajo_na_pregled_pred_avtobusom_-_ambulanto_ZD_Maribor_1962_%283%29.jpg">
<figcaption>
	  Enfants attendant de se faire vacciner à Maribor en 1962.
</figcaption>
</figure>

<figure class="container">
<img class="image" alt = ""
		src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Margaret_Hamilton_-_restoration.jpg/512px-Margaret_Hamilton_-_restoration.jpg">
<figcaption>
    Margaret Hamilton, en 1969, avec le code source du logiciel de navigation de l’<em>Apollo Guidance Computer</em> imprimé dans des livres.
</figcaption>
</figure>

<figure class="container">
<img class="image" alt = ""
		src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Fontaine-Lestang_-_Rue_Vestrepain_embouteill%C3%A9e.jpg/1024px-Fontaine-Lestang_-_Rue_Vestrepain_embouteill%C3%A9e.jpg">
<figcaption>
    Un embouteillage à Toulouse en 2019.
</figcaption>
</figure>

</span>
</Cadre>


<style>
.container {
    max-width: 300px;
    height: 500px;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
</style>
