:root {
    /* pour le alpha il faut du décimal 
        F6 -> 246
        64 -> 100
    
        46 -> 70
        6F -> 111
    */
    --monrouge: #F66400;
    --monbleu: #00466F;
    --monviolet: #6400F6;
    --monvertfonce: #466F00;
    --monvertclair: #00f664;
    --monpourpre: #6f0046;
    --mongris: #666666;
  
    --fondgris: rgba(102, 102, 102, 0.3);
    --fondrouge: rgba(246, 100, 0, 0.5);
    --fondvert: rgba(70, 111, 0, 0.3);
    --fondbleu: rgba(0, 70, 111, 0.3);  
}
  
#page {
    width: 100%;
    max-width: 50em;
    margin: 10px auto;
}

body {
  font-family: sans-serif;
  color: var(--monbleu);
  background-color: #FFFFFF;
}

body.sombre {
    color: white;
    background-color: #333;
}
body.sombre a{
    color: var(--monrouge);
}


#menu {
  margin: 0px;
  padding: 0px;
  overflow: auto;
  top: 10px;
}

#menu ul {
  list-style-type: none;
  line-height: normal;
}
#menu li{
  padding-bottom: 0px;
}
#menu li a {
  display: block;
  float: left;
  padding: 8px;
  text-decoration: none;
  cursor: pointer;
}

.actuel {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--monbleu);
}

#menu li a:hover {
  background-color: var(--fondrouge);
  color: white;
}

#contenu {
  padding: 5px;
}

@media (max-width: 700px) {
  #contenu {
    margin: 0 auto;
    width: auto;
  }
}

a {
  text-decoration: none;
  color: var(--monrouge);
}

a:hover {
  text-decoration: underline;
}

li:hover .correction {
  display: block;
  visibility: visible;
}

ol, ul {
  list-style-position: inside;
  padding-left: 10px;
  line-height: 1.5;
}

h1 {
  text-align: right;
  text-transform: uppercase;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: var(--monrouge);
}

h2 {
  text-align: left;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: center;
}

.cadrerouge {
  border: 3px solid var(--monrouge);
  padding: 5px;
  border-radius: 5px;
}

.cadrebleu {
  border: 3px solid var(--monbleu);
  padding: 5px;
  border-radius: 5px;
}

.cadregris {
  border: 3px solid var(--mongris);
  padding: 5px;
  border-radius: 5px;
}

.cadrevertfonce {
  border: 3px solid var(--monvertfonce);
  padding: 5px;
  border-radius: 5px;
}

.nombre {
  width: 2em;
}

.fondgris {
  background-color: var(--fondgris);
}

.rouge{
  background-color: var(--monrouge);
  color:white; 
}
.violet{
  background-color: var(--monviolet);
  color:white; 
}
.bleu{
    background-color: var(--monbleu);
    color:white; 
}
.vertclair{
    background-color: var(--monvertclair);
    color:white; 
}
.vertfonce{
    background-color: var(--monvertfonce);
    color:white; 
}
.gris{
    background-color: var(--mongris);
    color:white; 
}
.pourpre{
    background-color: var(--monpourpre);
    color:white; 
}

.toutrouge{
	background-color: var(--monrouge);
	color: var(--monrouge);
}
.toutbleu{
	background-color: var(--monbleu);
	color: var(--monbleu);
}
.toutviolet{
	background-color: var(--monviolet);
	color: var(--monviolet);}
.toutvert{
	background-color: var(--monvertfonce);
	color: var(--monvertfonce);
}

.bouton {
  cursor: pointer;
}
.invisible {
  visibility: hidden;
}
.centre {
  margin-left: auto;
  margin-right: auto;
}

.pile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: fit-content;
}
figure{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--monbleu);
  border-radius: 5px;
  padding: 0px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  background-color: var(--fondbleu);
  color: #fff;
  font: italic smaller;
  padding: 8px 0px;
  text-align: center;
  width: 100%;

}

.tableaudebord{
  background-color: var(--fondgris);
  border: 1px solid var(--monbleu);
  padding: 5px;
  border-radius: 5px;
}

body.sombre dialog{
  color:white;
  background-color: #444;;
} 
dialog {
  max-width: 32em;
  border-radius: 0.3em;
  border: 2px solid var(--monbleu);
  color: var(--monbleu);
  padding: 0;
  font-family: sans-serif;
}
dialog.erreur{
  border: 2px solid var(--monrouge);
  color:var(--monrouge);
}
dialog.bravo{
  border: 2px solid var(--monvertfonce);
  color: var(--monvertfonce);
}
dialog::backdrop{
  background: rgba(66,66,66,0.6);
}
dialog[open] {
animation: zoom 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
@keyframes zoom {
  from {
  transform: scale(0.95);
  }
  to {
  transform: scale(1);
  }
}
dialog[open]::backdrop {
animation: fade 0.2s ease-out;
}
@keyframes fade {
  from {
  opacity: 0;
  }
  to {
  opacity: 1;
  }
}
#ide {
  padding: 10px;
  max-width: 100%;
  border-radius: 5px;
  border: 3px solid var(--mongris);
  resize: vertical;
  width: 100%;
  color: white;
  background-color: #333;
  box-sizing: border-box;
}