<script>
  import { quintOut } from 'svelte/easing';
	import { crossfade } from 'svelte/transition';
	import { flip } from 'svelte/animate';

    import InfoPrincesse from '$lib/TNSI/01/InfoPrincesse.svelte';
    import Cadre from '$lib/Cadre.svelte';

	const [send, receive] = crossfade({
		fallback(node, params) {
			if(! animer){return 0}

			const style = getComputedStyle(node);
			const transform = style.transform === 'none' ? '' : style.transform;

			animer = false;

			return {
				duration: 600,
				easing: quintOut,
				css: (t) => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			};
		}
	});

	let animer = false;
    let ligne_active = 0;
	let lecture = false;
	
	import Console from '$lib/Console.svelte';
	
	let programme = []; // {cle, texte, instruction}
  let cle_programme = 0;

   let piles = [[{texte:"🐼", "cle":2},
					{texte:"🦊", "cle":1},
                    {texte:"🐯", "cle":0}],
                    [],
                    [],
                    []];  // piles[3] pour la variable x

	let matelas = [
        {texte: "Un très très grand matelas", cle:3},
        {texte: "Le plus grand de tous les matelas de la princesse", cle:5},
        {texte: "Un matelas", cle:0},
        {texte: "Un grand matelas", cle:1},
        {texte: "Le deuxième plus grand des matelas", cle:4},
        {texte: "Un très grand matelas", cle:2}
    ]


	let retourner_num ;
	let init = function(){
		console.log('init');
		ligne_active = 0;
		lecture = false;
		matelas = [
        {texte: "Un très très grand matelas", cle:3},
        {texte: "Le plus grand de tous les matelas de la princesse", cle:5},
        {texte: "Un matelas", cle:0},
        {texte: "Un grand matelas", cle:1},
        {texte: "Le deuxième plus grand des matelas", cle:4},
        {texte: "Un très grand matelas", cle:2}
    ]
	}

	function verifier(){
			animer = false;
			for(let i = 0; i < matelas.length; i++){
					if(matelas[i].cle !== i){
							return false;
					}
			}
			params_alerte = ["Exercice réussi !","bravo",true];
    }

    function retourner(i){
			  console.log("retourner"+i.toString());
        animer = true;
        let copie = [];
        for(let j = 0; j < i; j++){
            copie.push(matelas[i-j-1]);
        }
        for(let k = 0; k < i; k++){
            matelas[k] = copie[k];
        }
			verifier();
    }

	function ajouter_retourner(indice){
		animer = true;
		let a = retourner_num;
		programme.push({cle:cle_programme, 
										texte:"retourner("+a+")", 
									  instruction:( () => retourner(a) )});
		cle_programme ++;
		programme = programme;
	}

    import Alerte from '$lib/Alerte.svelte';
	let params_alerte = ["","",false];
</script>

<Alerte bind:params_alerte />
<h1>La Princesse au petit pois et le Python</h1>
<InfoPrincesse />

<Cadre classe="afaire">
<span slot="contenu">
<p>Pour répondre au problème, vous disposez seulement d'une fonction écrite en Python :</p>
<p><code>retourner(j)</code> retourne la pile des <code>j</code> matelas situés le plus en haut, c'est-à-dire inverse leur ordre.</p>
</span>
</Cadre>

<div class="pile centre">
    {#each matelas as item, index  (item.cle)}
        <div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip
                    style = "padding:5px; border-radius:5px;" class = "rouge" >
                    {item.texte}
        </div>
    {/each}
 </div>

<div class="tableaudebord">
<p>Cliquez sur le <button style="cursor:text;">+</button> à droite d'une instruction pour l'ajouter au code.</p>

<div>
    <code>x = retourner(</code>
    <select bind:value={retourner_num}>
        {#each matelas as nom, index}
            <option value={index+1} selected={index===0}>
                {index+1}
            </option>
        {/each}
    </select>
    <code>)
    </code>
    <button on:click={ajouter_retourner}>+</button>
</div>
</div>
<Console bind:programme bind:animer bind:ligne_active init={init} />