<script>
 	import { page } from '$app/stores';
    import { contenus } from '$lib/TNSI/01/contenus.js';

    import Navigation from '$lib/Navigation.svelte';
    import Cadre from '$lib/Cadre.svelte';

</script>
<h1>Files et piles</h1>
<p>
Dans ce chapitre nous étudierons deux <strong>structures de données</strong> qui nous seront utiles tout au long de l'année : les <strong>files</strong> et les <strong>piles</strong>.
</p>
<Cadre classe="info">
<span slot="contenu">
<p>Le cours sera fait en classe, avec des stylos et des feuilles de papier.</p>
</span>
</Cadre>

<h2>Activités</h2>

<Navigation liste_donnee={$contenus} type="contenus_liste" />

<h2>Idées de projets</h2>

Quelques idées de projets avec des files ou piles :

<ul>
<li> Notation polonaise inverse.</li> 
<li> Algorithme Shunting-Yard.</li> 
<li> Jeu de cartes.</li> 
<li> Jeu <em>Water sort puzzle</em> ou <em>Ball sort puzzle</em>.</li>
<li> Implémenter les fonctions de files avec deux piles.</li> 
<li> Simulation de création de brochettes, de colliers ou tout autre objet qu'on peut enfiler ou empiler.</li> 
<li> Simulation de robot gérant des containers dans un port.</li> 
<li> Simulation de trafic routier.</li>
<li> Simulation d'une pile de Volta.</li> 
<li> Comment vérifier que les parenthèses d'une formule mathématique (ou d'un programme Python) sont correctes ? Extension possible aux balises HTML.</li>
<li> Reprogrammer certaines des activités vues dans ce chapitre (sans animation).</li>
</ul>

<Cadre classe="aretenir">
<span slot="titre">Programme officiel
</span>
<span slot="contenu">
    <p>Structures de données, interface et implémentation. Spécifier une structure de données par son interface.
     Distinguer interface et implémentation.
     Écrire plusieurs implémentations d’une même structure de données (<em>sera revu en cours d'année</em>).</p>
    <p>Listes, piles, files : structures linéaires.
    Distinguer des structures par le jeu des méthodes qui les caractérisent.
    Choisir une structure de données adaptée à la situation à modéliser.
    On distingue les modes <em>FIFO (first in first out)</em> et <em>LIFO (last in first out)</em> des piles et des files.
    </p>
</span>
</Cadre>

<style>
.container {
width: 300px;
height: 500px;
}
.image {
width: 100%;
height: 100%;
object-fit: cover;
}
</style>
