<script>
    import { quintOut } from 'svelte/easing';
	import { crossfade } from 'svelte/transition';
	import { flip } from 'svelte/animate';

	import InfoTroisLits from '$lib/TNSI/01/InfoTroisLits.svelte';
	import Cadre from '$lib/Cadre.svelte';

	const [send, receive] = crossfade({
		fallback(node, params) {
			if(! animer){return 0}

			const style = getComputedStyle(node);
			const transform = style.transform === 'none' ? '' : style.transform;

			animer = false;

			return {
				duration: 600,
				easing: quintOut,
				css: (t) => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			};
		}
	});

	let animer = false;
    let ligne_active = 0;
	let lecture = false;
	
	import Console from '$lib/Console.svelte';
	
	let programme = []; // {cle, texte, instruction}
    let cle_programme = 0;
	let matelas = [
        {texte: "&nbsp;&nbsp;&nbsp;", cle:0},
        {texte: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", cle:1},
        {texte: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", cle:2},
        {texte: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", cle:3}
    ];

  let piles = [ [...matelas], [], [] ];
	function verifier(){
		animer = false;
		if (piles[2].length !== matelas.length) return false;
		params_alerte = ["Exercice réussi !","bravo",true];
	}
	
	let init = function(){
		ligne_active = 0;
		lecture = false;
		piles = [ [...matelas], [], [] ];
	}

	let depart;
	let arrivee;
	
	function depiler(depart, arrivee, indice) {
		console.log(ligne_active.toString()+" : "+depart.toString()+"_>"+arrivee.toString());
		if(piles[depart].length == 0){
			  programme[indice].erreur = "ERREUR. Impossible de dépiler une pile vide";
		}
    else   if(piles[arrivee].length > 0 && piles[depart][0].cle > piles[arrivee][0].cle){
	      programme[indice].erreur = "ERREUR. Impossible d'empiler un matelas sur un matelas plus petit";
        }
		else{
			animer = true;
			programme[indice].erreur = false;
			// récupération de la clé de l'item dépilé
			let a = piles[depart].shift();
			// empilement
			piles[arrivee].unshift(a);
	        piles = piles;
			verifier();
		}
  }

	function ajouter_depiler(){
		animer = true;
		let erreur = false;
		let d = depart;
		let a = arrivee;
		programme.push({cle:cle_programme, 
					texte: "transferer("+d.toString()+", "+a.toString()+")", 
					instruction:( (indice) => depiler(d, a, indice) )})
		cle_programme++;
		programme = programme;
	}

	import Alerte from '$lib/Alerte.svelte';
	let params_alerte = ["","",false];
</script>

<Alerte bind:params_alerte />
<h1>Les trois lits et le python</h1>

<InfoTroisLits />

<Cadre classe="afaire">
<span slot="contenu">
<p>
Les lits sont repérés par leur index : 0, 1 ou 2. Vous disposez d'une fonction Python <code>transferer</code> qui prend deux paramètres, qui sont deux nombres entiers. 
Cette fonction déplace, si c'est possible, le matelas situé au sommet du lit indiqué par le premier paramètre sur le lit indiqué par le deuxième.
Par exemple, <code>transferer(0, 1)</code> déplace le matelas situé en haut du premier lit sur le deuxième lit.
</p>
</span>
</Cadre>

<table>
<tr>
	<td>0</td>
	<td> </td>
	<td>1</td>
	<td> </td>
	<td>2</td>
</tr>
<tr>
	<td class="lit">
		{#each piles[0] as item, index  (item.cle)}
			<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip >
				<span class = "matelas toutrouge">
					{@html item.texte}
				</span>
			</div>
		{/each}
	 </td>
	<td>
		
	</td>
	<td class="lit">
		{#each piles[1] as item, index  (item.cle)}
			<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip >
				<span class = "matelas toutrouge">
					{@html item.texte}
				</span>
			</div>
		{/each}
	 </td>
	<td>
		
	</td>
	<td class="lit">
		{#each piles[2] as item, index  (item.cle)}
			<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip >
				<span class = "matelas toutrouge">
					{@html item.texte}
				</span>
			</div>
		{/each}
	 </td>
</tr>
</table>

<div class="tableaudebord">
<p>Cliquez sur le <button style="cursor:text;">+</button> à droite d'une instruction pour 
	l'ajouter au code.</p>
	
	<div>
		<code>transferer(</code>
		<select bind:value={depart}>
			{#each [0,1,2] as index}
				<option value={index} selected={index===0}>
					{index}
				</option>
			{/each}
		</select>
		<code> , </code>
		<select bind:value={arrivee}>
			{#each [0,1,2] as index}
				<option value={index} selected={index===0}>
					{index}
				</option>
			{/each}
		</select>
		<code>)</code>
		<button on:click={ajouter_depiler}>+</button>
	</div>
</div>
	
<Console bind:programme bind:animer bind:ligne_active init={init} />

<style>
table td.lit {
    width: 7em;
    height: 6em;
    vertical-align: bottom;
	border: 3px solid var(--monrouge);
    padding: 5px;
    border-radius: 5px;
}

.matelas{
	border-radius:2px;
}
</style>